<!DOCTYPE html>
<html>
    <head>
        <title>Student Portal</title>
        <link rel = "icon" href = "/img/favicon.png">
        <link rel = "stylesheet" href = "/css/styles.min.css">
    </head>
    <body>
        <div class = "centered-form">
            <div class = "centered-form__box">
                <h1>Register</h1>
                <form action="/register" method="POST">