<%- include('partials/header') %>

<label>First Name</label>
<input type = "text" class="form-control" name = "fname" placeholder = "First Name" required>
<label>Last Name</label>
<input type = "text" class="form-control" name = "lname" placeholder = "Last Name" required>
<label>MIS</label>
<input type = "text" class="form-control" name = "mis" placeholder = "MIS" required>
<label>Phone Number</label>
<input type = "text" class="form-control" name = "phone" placeholder = "Phone" required>
<label>City</label>
<input type = "text" class="form-control" name = "city" placeholder = "City" required>
<label>State</label>
<input type = "text" class="form-control" name = "state" placeholder = "State" required>
<label>Zip-code</label>
<input type = "text" class="form-control" name = "zipcode" placeholder = "Zip-code" required>
<button type="submit">Submit</button>

<%- include('partials/footer') %>

