<!DOCTYPE html>
<html>
    <head>
        <title>Student Portal</title>
        <link rel = "icon" href = "/img/favicon.png">
        <link rel = "stylesheet" href = "/css/styles.min.css">
    </head>
    <body>
        <div class = "centered-form">
            <div class = "centered-form__box">
                <h4>Update Course/Attendance</h4>
                <form action="/student_info" method="POST">
                    <label for="name">New Course (Update Course)</label>
                    <select name="new_course">
                        <option value="">None</option>
                        <option value="CS-101">CS-101</option>
                        <option value="CS-102">CS-102</option>
                    </select>
                    <label for="name">Grade (Update Course)</label>
                    <select name="new_grade">
                        <option value="">None</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                    <label for="name">Semester (Update Attendance or CGPA)</label>
                    <select name="new_semester">
                        <option value="">None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>        
                    <label for="name">Days Present (Update Attendance)</label>
                    <input type = "number" class="form-control" name = "new_days_present" placeholder = "eg.100" max=105>
                    <label>Choose Year to Update CGPA</label>
                    <select name="new_year">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label>Enter CGPA</label>
                    <input type = "number" class="form-control" name = "new_cgpa" placeholder = "CGPA" min="0" max="10" step="0.1">
                    <label>Result_ID</label>
                    <input type = "number" class="form-control" name = "new_result_id" placeholder = "Result_ID">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>